{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Help Links plugin for Craft CMS 3.x
 *
 * Help Links index.twig
 *
 * @author    A Digital
 * @copyright Copyright (c) 2018 A Digital
 * @link      https://adigital.agency
 * @package   HelpLinks
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/a-digital/help-links/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Overview" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('help-links') %}

{% set navItems = {
    'heading': { heading: "Sections"|t },
} %}
{% for location in settings["sections"] %}
	{% set friendlyUrl = location[0]|replace({" ": "", "-": ""})|lower %}
	{% set navItems = navItems |merge({
	    (friendlyUrl): {
	        title: location[0]|t("help-links"),
	    },
	}) %}
{% endfor %}
{% set selectedItem = craft.app.request.getSegment(3)|default("overview") %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url("help-links/sections/#{id}") }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}

{# The content of the CP Section #}
{% set content %}
    <h2>{{ "Sections"|t('help-links') }}</h2>
    <p class="textline">Sections can be created within the plugin settings and they will be added to the navigation on this page.</p>
    <p class="textline">Each section will start out with an empty table field which you can use to populate your links and add comments. These are created on a per section basis.</p>
    <p class="textline">Please click into a section using this pages navigation to start adding links.</p>
    <p class="textline">Once your links are created you can add the widget to your dashboard to display them.</p>
{% endset %}
